@import url('./styles/cart.css');
@import url('./styles/navbar.css');
@import url('./styles/orders.css');
@import url('./styles/productsList.css');

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: scroll !important;
}

.App {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}